.vs
.vscode
*.sln
*.vcxproj
*.filters
*.stash
*.qmlc
*.autosave
QtQmlBook.pro.user
QtQmlBookTest.pro.user
QtQmlBookBasic.pro.user
*.pro.user
QtQmlMultimedia.pro.user
build-TheBook-*
*.fdb_latexmk
*.synctex(busy)
build_msvc.new.bat
sstd_tools/msvc2017-settings/CurrentSettings.vssettings
